body {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

.page-header {
    background-image: url(../img/header-background.jpg),
        url(../img/header-background-back.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 900px;
    color: white;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-left: 380px;
    padding-right: 380px;
    padding-top: 40px;
    align-items: center;
    margin-bottom: 78px;
}

.promo {
    padding-left: 380px;
}