body {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
}

@import url(header.less);

.page-footer__wrapper {
    display: flex;
    color: white;
    width: 1200px;
    background-color: #2E3135;
}

.footer-container__col1 {
    width: 260px;
}