.why-us {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 50%;

    .experience {
        width: 50%;
        background-image: linear-gradient(to right; #7325EF; #5AE0F7);


        .why-us__experience--container {
            color: white;
            width: 350px;
            float: right;
            margin-top: 85px;
            margin-right: 70px;
            position: relative;

            .experience__header {
                font-size: 20px;
                line-height: 31px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .experience__main-text {
                font-size: 20px;
                line-height: 31px;
                font-weight: 500;
            }

            .experience__giant-container {
                display: flex;
                justify-content: space-between;

                .experience__giant {
                    font-size: 200px;
                    line-height: 200px;
                    font-weight: 700;
                    align-self: last baseline;
                }

                .experience__age {
                    font-size: 72px;
                    line-height: 72px;
                    font-weight: 500;
                    align-self: last baseline;
                }
            }


        }

        .why-us__experience--container::before {
            content: '';
            display: block;
            position: absolute;
            top: 90px;
            right: -85px;
            width: 50%;
            border-top: 7px solid white;
            transform: rotate(90deg);
        }
    }

    .why {
        width: 50%;

        h2 {
            text-align: left;
            font-size: 30px;
            font-weight: 700;
            padding-top: 85px;
            padding-left: 45px;
            margin-bottom: 30px;
        }

        .why__ul {
            list-style: none;
            margin-bottom: 85px;
            padding-left: 40px;

            li {
                display: flex;
                align-items: center;
                background-image: url(../img/icon.png);
                background-repeat: no-repeat;
                height: 60px;
                padding-left: 80px;
                margin-bottom: 15px;
            }
        }
    }

    .from-the-owner {
        display: flex;
        width: 50%;
        justify-content: flex-end;

        .from-the-owner__text {
            width: 500px;
            text-align: center;
            padding-right: 50px;
            padding-top: 95px;

            h2 {
                margin-bottom: 26px;
            }

            p {
                margin-bottom: 26px;
            }
        }
    }

    .owner-photo {
        width: 50%;
    }
}